table
{

}
th
{
background-color:#487099;
color:white;
}
td
{
background-color:#999999;

}


img
{
border:2px solid #2d2d2a;
border-radius:10px;
}
#login
{
margin:auto;
float:none;
background-color:#999999;
border:2px solid #2d2d2a;
border-radius:10px;
width:500px;

}
#login
{
margin:auto;
float:none;
background-color:#999999;
border:2px solid #2d2d2a;
border-radius:10px;
width:500px;

}
#user
{
background-color:#0066ff;
}

#leftbar
{

float:left;
background:#e0e0d1;
border:1px groove #2d2d2a;
border-radius:10px;
width:15%;
margin:auto;
height:100%;
overflow:hidden;
}
.main
{background:#e0e0d1;

width:80%;
margin:auto;
overflow:hidden;

float:center;
border:1px solid #2d2d2a;
border-radius:10px;
box-shadow:10px 10px 20px #86867d;
}


#caption
{
text-align:center;
color:#ffffff;
font-size:20px;
background:#666699;
border-radius:10px;
width:100%;
}

.gtbutton
{
color:#000000;
border-radius:7px;
}
#userdisp
{
color:#ffffff;
background:#666699;
border-radius:5px;
height:30px;
padding:5px;

}

ul
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;

color:#000000;
background-color:#ebf0ff;
width:13%px;
text-align:left;
padding:3px 5px 3px;
text-decoration:none;
text-transform:uppercase;
}

a:hover,a:active
{
background-color:#9d9d92;
}

#ticketsearch
{
margin:auto;
float:center;
background-color:#e0e0d1;
border:2px solid #2d2d2a;
border-radius:10px;
width:500px;
text-align:center;
}

#reassign
{
margin:auto;
float:center;
background-color:#e0e0d1;

width:500px;

}

input:focus, textarea:focus{  
background-color: lightyellow;  
}  

input:button{
border-radius:5px;
}

.tdc
{
background-color: #999999
}